<main>
    <div class="container">
      <div class="card rounded">
        <div class="rounded image-container">
          <img src="https://images.unsplash.com/photo-1635492491273-455af7728453?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=960&q=80" width="256px" height="auto" />
          <div class="eye accent-text"><i class="fa-solid fa-eye"></i></div>
        </div>
        <h3 class="primary-text hover-text"><%= i.name %></h3>
        <p class="secondary-text">Our equilibrium collection promotes balance and calm.</p>
        <div class="sale">
        </div>
        <hr />
        <div class="author">
          <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" width="24px" height="auto" />
          <span class="secondary-text">Creation of <span class="primary-text hover-text">Alex Suprun</span></span>
        </div>
      </div>
  </main>