<% layout('../partials/boilerplate.ejs') %>
<center><h1>Add a Product</h1></center>
<%- include('../partials/navbar.ejs') -%>
<fieldset id="hn">
    <form action="/" method="post">
    <h3>Show Name:</h3> <input name="name" id="iid">
    <h3>Show Description:</h3> <input name="desc" id="iid">
    <h3>Show Launch Year:</h3> <input name="year" id="iid">
    <h3>Show Thumbnail Image:</h3> <input name="image" id="iid">
    <h3>Youtube:</h3><input name="youtube" id="iid">
    <br><br>
    <button>Add Show</button>
    </form>
</fieldset>
